.container{
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: relative; */
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 4rem;
    width: 100vw;
    background-color: whitesmoke;
    padding: 0 3rem;
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cards{
    height: calc(100vh - 4rem);
    width: 100vw;
}

.cardContainer{
    outline: 1px solid black;
    width: fit-content;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;
}

img{
    width: 200px;
}

button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background: green;
    color: white;    
    border-radius: 5px;
}

button:hover{
    opacity: .8;
    transition: 250ms;
}